<HTML>

<BODY>

  <head>
    <title>Students</title>
  </head>
  <h1>Student Information</h1>
  
  <p>Name: <%= student.StudentName %></p >
  <p>ID: <%= student.StudentID %></p >
  <p>Grade: <%= student.StudentGrade %></p >
  <p>Average Mark: <%= student.AverageMark %></p >
  <p>Gender: <%= student.StudentGender %></p >
</BODY>

</HTML>
